<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Varun and Sadhana's COMP 110 Final Project!</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <p>Which Disney Villain are you based on your song choices??</p>
        <a href="/quiz">take quiz</a>
        <br />
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Villianc_transparent_background.svg" alt="Villainous Guy" width="200" height="400">
    </body>
</html>