<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Take the Quiz!</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <p>Quiz Questions!</p>
            <label for="fname">First name:</label>
            <input type="text" name="fname">
            <br />
            <br />
            <label for="lname">Last name:</label>
            <input type="text" name="lname">
            <br />
            <br />
            <br />
            <br />
            <label for="favorite pop song">favorite pop song:</label>
            <select name="favorite pop song">
                <option value="1">Party in the USA</option>
                <option value="2">Tik Tok</option>
                <option value="3">Call me Maybe</option>
                <option value="4">Shape of You</option>
            </select>
            <br />
            <br />
            <label for="favorite rap song">favorite rap song:</label>
            <select name="favorite rap song">
                <option value="1">Bodak Yellow</option>
                <option value="2">Rap God</option>
                <option value="3">HUMBLE</option>
                <option value="4">Sky</option>
            </select>
            <br />
            <br />
            <label for="favorite throwback song">favorite throwback song:</label>
            <select name="favorite throwback song">
                <option value="1">Toxic</option>
                <option value="2">Yellow Submarine</option>
                <option value="3">September</option>
                <option value="4">Careless Whisper</option>
            </select>
            <br />
            <br />
            <label for="favorite disney song">favorite disney song:</label>
            <select name="favorite disney song">
                <option value="1">A Whole New World</option>
                <option value="2">Let it Go</option>
                <option value="3">Hakuna Matata</option>
                <option value="4">How Far I'll Go</option>
            </select>
            <br />
            <br />
            <label for="favorite musical song">favorite musical song:</label>
            <select name="favorite musical song">
                <option value="1">We're All in this Together</option>
                <option value="2">Memory</option>
                <option value="3">Into the Woods</option>
                <option value="4">Defying Gravity</option>
            </select>
            <br />
            <br />
            <label for="favorite christmas song">favorite christmas song:</label>
            <select name="favorite christmas song">
                <option value="1">Rudolph the Red Nose Reindeer</option>
                <option value="2">All I Want for Christmas is You</option>
                <option value="3">Jingle Bells</option>
                <option value="4">Walking in a Winter Wonderland</option>
            </select>
            <br />
            <br />
            <label for="favorite classical song">favorite classical song:</label>
            <select name="favorite classical song">
                <option value="1">Bethoven's 5th Symphony</option>
                <option value="2">Hungarian Dance</option>
                <option value="3">Vivaldi's Four Seasons</option>
                <option value="4">New World Symphany</option>
            </select>
            <br />
            <br />
            <label for="favorite international song">favorite international song:</label>
            <select name="favorite international song">
                <option value="1">Despacito</option>
                <option value="2">Jai Ho</option>
                <option value="3">Ddu-Du Ddu-Du</option>
                <option value="4">La Vie En Rose</option>
            </select>
            <br />
            <br />
            <br />
            <br />
            <input type="submit" value="Submit">
        </form>
    </body>
</html>